<html>

<head>
    <title>Bank App : Ajouter Compte</title>
    <link rel="icon" type="image/x-icon" href="http://localhost:4500/icon.ico">
    <link href="http://localhost:4500/bootstrap.css" rel="stylesheet">
</head>

<body style="background-color: grey;">
	<style>
	 .container {
	 	background-color: white !important;
	 }
	</style>
    <div class="container" >
        <div class="row border border-primary">
            <div class="col-2">
                <img src="http://localhost:4500/bank.png" alt="bank" width="50" height="50">
            </div>
            <div class="col-10">
                <h1>Banque Application</h1>
            </div>
        </div>
        <br/>
        <div class="row border border-primary">
            <table class="table">
                <tr>
                	<td><img src="http://localhost:4500/icon.ico" alt="client" height="50" width="50"><a href="/" >Home</a></td>
                    <td><img src="http://localhost:4500/client.png" alt="client" height="50" width="50"><a href="/client" >Client</a></td>
                    <td><img src="http://localhost:4500/emp.png" alt="employee" height="50" width="50"><a href="/employee" >Employee</a></td>
                    <td><img src="http://localhost:4500/account.png" alt="account" height="50" width="50"><a href="/compte">Compte</a></td>
                    <td><img src="http://localhost:4500/send.png" alt="send" height="50" width="50"><a href="/opertaion">Operation</a></td>
                </tr>
            </table>
        </div>
        <br/>
        <!--  body begin  -->
        
        <div class="row">
        	<form name="f1" action="/co/add" method="POST">
        	    <input type="hidden" id="update" name="update" th:value="${update}" />
        		<input type="hidden" id="id" name="id" th:value="${id}" />
				<div class="form-group">
    				<label for="client">client</label>
    				<select required class="form-control" id="client" 
    				name="client">
      					<option	
      					th:each="c : ${ces}" 
      					th:selected="${com != null && c.nomClient == com.getClient().getNomClient()}"
      					th:value="${c.codeClient}" 
      					th:text="${c.nomClient}"></option>
   			 		</select>
  				</div>
  				<div class="form-group">
    				<label for="employees">employees</label>
    				<select required class="form-control" id="employees"
    				 name="employees">
      					<option 
      					th:each="e : ${emps}" 
      					th:selected="${com != null && e.nomEmployeString == com.getEmployes().getNomEmployeString()}"
      					th:value="${e.codeEmployeLong}" 
      					th:text="${e.nomEmployeString}"></option>
   			 		</select>
  				</div>
  				<div class="form-group">
    				<label for="solde">Solde</label>
    				<input required 
    					   name="solde" 
    					   type="number" 
    					   class="form-control" 
    					   id="solde" 
    					   placeholder="Solde"
    					   th:value="${( com != null ? com.getSolde() :  0 )}"
    					   >
  				</div>
  				<div class="form-group">
    				<label for="ctype">type</label>
    				<select required class="form-control" id="ctype"
    				 name="ctype" >
      					<option value="EP" 
      					th:selected='${ (type != null && type.equals("CC") == false ) ? true : false  }'>EP</option>
      					<option value="CC" 
      					th:selected='${(type != null && type.equals("CC") == true )? true : false  }'>CC</option>
   			 		</select>
  				</div>
  				<div th:style='${ (type != null && type.equals("CC")) ?  "" : "display: none;" }' class="form-group" id="decouvertblock">
    				<label for="decouvertb">decouvert</label>
    				<input required="false" type="number" class="form-control" 
    				id="decouvertb" th:value='${(type != null && type == "CC") ? com.getDecouvert() : 0}' name="decouvertb" />
  				</div>
  				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
        </div>
        <!--  body end  -->
    </div>
    <script src="http://localhost:4500/bootstrap.js"></script>
    <script>
    	document.getElementById('ctype').onchange = () => {
    			let typeselection = document.getElementById('ctype');
    			if (typeselection.value == "CC") {
    				document.getElementById('decouvertblock').style.display = '';
    				document.getElementById('decouvertblock').setAttribute("required", true);
    			}
    			else {
    				document.getElementById('decouvertblock').style.display = 'none';
    				document.getElementById('decouvertblock').setAttribute("required", false);
    				
    			}
    	}
    </script>
</body>

</html>