<html>

<head>
<title>Bank App : Ajouter Client</title>
<link rel="icon" type="image/x-icon"
	href="http://localhost:4500/icon.ico">
<link href="http://localhost:4500/bootstrap.css" rel="stylesheet">
</head>

<body style="background-color: grey;">
	<style>
.container {
	background-color: white !important;
}
</style>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/"><img
			src="http://localhost:4500/icon.ico" alt="client" height="50"
			width="50"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active"><a class="nav-link" href="/">Accueil
				</a></li>
				<li class="nav-item"><a class="nav-link" href="/client"><img
						src="http://localhost:4500/client.png" alt="client" height="50"
						width="50">Client</img></a></li>
				<li class="nav-item"><a class="nav-link" href="/employee"><img
						src="http://localhost:4500/emp.png" alt="employee" height="50"
						width="50">Employee</img></a></li>
				<li class="nav-item"><a class="nav-link" href="/group"><img
						src="http://localhost:4500/group.png" alt="group" height="50"
						width="50">Group</img></a></li>
				<li class="nav-item"><a class="nav-link" href="/compte"><img
						src="http://localhost:4500/account.png" alt="compte" height="50"
						width="50">Compte</img></a></li>
				<li class="nav-item"><a class="nav-link" href="/operation"><img
						src="http://localhost:4500/send.png" alt="compte" height="50"
						width="50">Operation</img></a></li>
				</li>
			</ul>
			<div class="form-inline my-2 my-lg-0">
				<div>
					<a class="nav-link" href="/dec">Déconnexion<img
						src="http://localhost:4500/delete.png" alt="deconnete" height="50"
						width="50"></a>
				</div>
			</div>
		</div>
	</nav>
	<br />
	<div class="container">
		<!--  body begin  -->
		<br />
		<div class="row">
			<form name="f1" action="/c/add" method="POST">
				<input type="hidden" th:value="${update}" name="update" id="update" />
				<div th:if="${update == false}" class="form-group">
					<input type="hidden" value="nothing" name="id" id="id" /> <label
						for="name">Nom de client</label> <input required name="name"
						type="text" class="form-control" id="name" aria-describedby="Nom"
						placeholder="Enter nom">
				</div>
				<div th:if="${update}" class="form-group">
					<input type="hidden" th:value="${id}" name="id" id="id" /> <label
						for="name">Nom de client</label> <input required name="name"
						type="text" class="form-control" id="name" aria-describedby="Nom"
						placeholder="Enter nom" th:value="${name}">
				</div>
				<br />
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
		<div class="row" th:if="${(list!=null) ? true : false}">
			<div class="col">
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Date</th>
							<th scope="col">Montant</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${list.size()>0}" th:each="o : ${list}">
							<td th:text="${o.codeCompte}" />
							<td th:text="${o.dateCreation}" />
							<td th:text="${o.solde}" />
						</tr>
						<tr colspan="3" th:if="${list != null && list.size()==0}">
							<td colspan="3" th:text="no records" />
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!--  body end  -->
	</div>
	<script src="http://localhost:4500/bootstrap.js"></script>
</body>

</html>