<html>
<head>
    <title>Bank App : Ajouter un Operation</title>
    <link rel="icon" type="image/x-icon" href="http://localhost:4500/icon.ico">
    <link href="http://localhost:4500/bootstrap.css" rel="stylesheet">
</head>

<body style="background-color: grey;">
	<style>
	 .container {
	 	background-color: white !important;
	 }
	</style>
    <div class="container" >
        <div class="row border border-primary">
            <div class="col-2">
                <img src="http://localhost:4500/bank.png" alt="bank" width="50" height="50">
            </div>
            <div class="col-8">
                <h1>Banque Application</h1>
            </div>
            <div class="col-2">
            	<div><a href="/dec">Déconnexion<img src="delete.png" height="50" weight="50"/></a></div>
            </div>
        </div>
        <br/>
        <div class="row border border-primary">
            <table class="table">
                <tr>
                	<td><img src="http://localhost:4500/icon.ico" alt="client" height="50" width="50"><a href="/" >Home</a></td>
                    <td><img src="http://localhost:4500/client.png" alt="client" height="50" width="50"><a href="/client" >Client</a></td>
                    <td><img src="http://localhost:4500/emp.png" alt="employee" height="50" width="50"><a href="/employee" >Employee</a></td>
                    <td><img src="http://localhost:4500/group.png" alt="group" height="50" width="50"><a href="/group" >Group</a></td>
                    <td><img src="http://localhost:4500/account.png" alt="account" height="50" width="50"><a href="/compte">Compte</a></td>
                    <td><img src="http://localhost:4500/send.png" alt="send" height="50" width="50"><a href="/operation">Operation</a></td>
                </tr>
            </table>
        </div>
        <br/>
        <!--  body begin  -->
		<div class="row">
			<form id="f1" action="/op/dd" method="POST">
				<label for="emp">Empolyee</label>
				<select name="empid" id="empid" class="form-control form-control-sm">
  					<option th:each="e : ${emp}" th:value="${e.getCodeEmployeLong()}" th:text="${e.getNomEmployeString()}" />
				</select>
				<label for="com">Compte</label>
				<select name="com" id="com" class="form-control form-control-sm">
  					<option th:each="ca : ${coma}" th:value="${'cc/'  + ca.getCodeCompte() }" th:text="${ca.getClient().getNomClient()}" />
  					<option th:each="cb : ${comb}" th:value="${'com/' + cb.getCodeCompte() }" th:text="${cb.getClient().getNomClient()}" />
				</select>
				<label for="type">type</label>
				<select name="type" id="type" class="form-control form-control-sm">
					<option value="versement">Versement</option>
					<option value="retrait">Retrait</option>
				</select>
				<div class="form-group">
    				<label for="montant">Montant</label>
    				<input type="number" class="form-control" id="montant" name="montant" value="0">
  				</div>
				<br/>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
		<div th:if="${ error != null && error == 'solde' }" class="row">
			<div style="color: red;">il y a un erreur </div>
		</div>
        <!--  body end  -->
    </div>
    <script src="http://localhost:4500/bootstrap.js"></script>
</body>
</html>