<html>

<head>
    <title>Bank App : Compte</title>
    <link rel="icon" type="image/x-icon" href="icon.ico">
    <link href="bootstrap.css" rel="stylesheet">
</head>

<body style="background-color: grey;">
	<style>
	 .container {
	 	background-color: white !important;
	 }
	</style>
    <div class="container" >
        <div class="row border border-primary">
            <div class="col-2">
                <img src="http://localhost:4500/bank.png" alt="bank" width="50" height="50">
            </div>
            <div class="col-8">
                <h1>Banque Application</h1>
            </div>
            <div class="col-2">
            	<div><a href="/dec">Déconnexion<img src="delete.png" height="50" weight="50"/></a></div>
            </div>
        </div>
        <br/>
        <div class="row border border-primary">
            <table class="table">
                <tr>
                	<td><img src="icon.ico" alt="client" height="50" width="50"><a href="/" >Home</a></td>
                    <td><img src="client.png" alt="client" height="50" width="50"><a href="/client" >Client</a></td>
                    <td><img src="emp.png" alt="employee" height="50" width="50"><a href="/employee" >Employee</a></td>
                    <td><img src="http://localhost:4500/group.png" alt="group" height="50" width="50"><a href="/group" >Group</a></td>
                    <td><img src="account.png" alt="account" height="50" width="50"><a href="/compte">Compte</a></td>
                    <td><img src="send.png" alt="send" height="50" width="50"><a href="/operation">Operation</a></td>
                </tr>
            </table>
        </div>
        <br/>
        <!--  body begin  -->
         <div class="row">
        	<div class="col-4">
        		<a href="/addcompte"><button class="btn btn-primary">Ajouter</button></a>
        	</div>
        	<div class="col-4">
        	</div>
        	<div class="col-4">
        	</div>
        	<div class="col-4">
        	</div>
        </div>
        <div class="row">
        <div class="col">
        <table class="table table-striped">
  			<thead>
    			<tr>
      				<th scope="col">#</th>
      				<th scope="col">Nom de Client</th>
      				<th scope="col">Nom de Employee</th>
      				<th scope="col">Solde</th>
      				<th scope="col">Date</th>
      				<th>Supprimer</th>
    			</tr>
  			</thead>
  			<tbody>
    			<tr  th:each="c: ${comptes1}">
    				<td ><a th:href="@{'/co/update/CC/' + ${c.codeCompte} }"><span th:text="${c.codeCompte}" /></a></td>
    				<td th:text="${c.client.getNomClient()}" />
    				<td th:text="${c.employes.getNomEmployeString()}" />
    				<td th:text="${c.solde}" />
    				<td th:text="${c.getDateCreation()}" />
    				<td><a th:href="@{'/co/remove/CC/' + ${c.codeCompte} }"><img src="delete.png" height="50" weight="50"/></a></td>
				</tr>
				<tr  th:each="c: ${comptes2}">
    				<td ><a th:href="@{'/co/update/EP/' + ${c.codeCompte} }"><span th:text="${c.codeCompte}" /></a></td>
    				<td th:text="${c.client.getNomClient()}" />
    				<td th:text="${c.employes.getNomEmployeString()}" />
    				<td th:text="${c.solde}" />
    				<td th:text="${c.getDateCreation()}" />
    				<td><a th:href="@{'/co/remove/EP/' + ${c.codeCompte} }"><img src="delete.png" height="50" weight="50"/></a></td>
				</tr>
				<tr th:if="${length}">
					<td colspan="5">Vide</td>
				</tr>
  			</tbody>
		</table>
		</div>
        <!--  body end  -->
    </div>
    <script src="bootstrap.js"></script>
</body>
</html>