<html>

<head>
    <title>Bank App : Compte</title>
    <link rel="icon" type="image/x-icon" href="icon.ico">
    <link href="bootstrap.css" rel="stylesheet">
</head>

<body style="background-color: grey;">
	<style>
	 .container {
	 	background-color: white !important;
	 }
	</style>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/"><img src="http://localhost:4500/icon.ico" alt="client" height="50" width="50"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active"><a class="nav-link" href="/">Accueil
						
				</a></li>
				<li class="nav-item"><a class="nav-link" href="/client"><img src="http://localhost:4500/client.png" alt="client"
						height="50" width="50">Client</img></a></li>
				<li class="nav-item"><a class="nav-link" href="/employee"><img src="http://localhost:4500/emp.png" alt="employee"
						height="50" width="50">Employee</img></a></li>
				<li class="nav-item"><a class="nav-link" href="/group"><img src="http://localhost:4500/group.png" alt="group"
						height="50" width="50">Group</img></a></li>
				<li class="nav-item"><a class="nav-link" href="/compte"><img src="http://localhost:4500/account.png" alt="compte"
						height="50" width="50">Compte</img></a></li>
				<li class="nav-item"><a class="nav-link" href="/operation"><img src="http://localhost:4500/send.png" alt="compte"
						height="50" width="50">Operation</img></a></li>
				</li>
			</ul>
			<div class="form-inline my-2 my-lg-0">
				<div>
				<a class="nav-link" href="/dec">Déconnexion<img
						src="http://localhost:4500/delete.png" alt="deconnete" height="50"
						width="50"></a>
				</div>
			</div>
		</div>
	</nav>
	<br/>
    <div class="container" >
        <!--  body begin  -->
        <br/>
         <div class="row">
        	<div class="col-4">
        		<a href="/addcompte"><button class="btn btn-primary">Ajouter</button></a>
        	</div>
        	<div class="col-4">
        	</div>
        	<div class="col-4">
        	</div>
        	<div class="col-4">
        	</div>
        </div>
        <div class="row">
        <div class="col">
        <table class="table table-striped">
  			<thead>
    			<tr>
      				<th scope="col">#</th>
      				<th scope="col">Nom de Client</th>
      				<th scope="col">Nom de Employee</th>
      				<th scope="col">Solde</th>
      				<th scope="col">Date</th>
      				<th>Supprimer</th>
    			</tr>
  			</thead>
  			<tbody>
    			<tr  th:each="c: ${comptes1}">
    				<td ><a th:href="@{'/co/update/CC/' + ${c.codeCompte} }"><span th:text="${c.codeCompte}" /></a></td>
    				<td th:text="${c.client.getNomClient()}" />
    				<td th:text="${c.employes.getNomEmployeString()}" />
    				<td th:text="${c.solde}" />
    				<td th:text="${c.getDateCreation()}" />
    				<td><a th:href="@{'/co/remove/CC/' + ${c.codeCompte} }"><img src="delete.png" height="50" weight="50"/></a></td>
				</tr>
				<tr  th:each="c: ${comptes2}">
    				<td ><a th:href="@{'/co/update/EP/' + ${c.codeCompte} }"><span th:text="${c.codeCompte}" /></a></td>
    				<td th:text="${c.client.getNomClient()}" />
    				<td th:text="${c.employes.getNomEmployeString()}" />
    				<td th:text="${c.solde}" />
    				<td th:text="${c.getDateCreation()}" />
    				<td><a th:href="@{'/co/remove/EP/' + ${c.codeCompte} }"><img src="delete.png" height="50" weight="50"/></a></td>
				</tr>
				<tr th:if="${length}">
					<td colspan="5">Vide</td>
				</tr>
  			</tbody>
		</table>
		</div>
        <!--  body end  -->
    </div>
    <script src="bootstrap.js"></script>
</body>
</html>