<html>

<head>
    <title>Bank App</title>
    <link rel="icon" type="image/x-icon" href="icon.ico">
    <link href="bootstrap.css" rel="stylesheet">
</head>

<body style="background-color: grey;">
	<style>
	 .container {
	 	background-color: white !important;
	 }
	</style>
    <div class="container" >
        <div class="row border border-primary">
            <div class="col-2">
                <img src="http://localhost:4500/bank.png" alt="bank" width="50" height="50">
            </div>
            <div class="col-8">
                <h1>Banque Application</h1>
            </div>
            <div class="col-2">
            	<div><a href="/dec">Déconnexion<img src="delete.png" height="50" weight="50"/></a></div>
            </div>
        </div>
        <br/>
        <div class="row border border-primary">
            <table class="table">
                <tr>
                	<td><img src="icon.ico" alt="client" height="50" width="50"><a href="/" >Home</a></td>
                    <td><img src="client.png" alt="client" height="50" width="50"><a href="/client" >Client</a></td>
                    <td><img src="emp.png" alt="employee" height="50" width="50"><a href="/employee" >Employee</a></td>
                    <td><img src="http://localhost:4500/group.png" alt="group" height="50" width="50"><a href="/group" >Group</a></td>
                    <td><img src="account.png" alt="account" height="50" width="50"><a href="/compte">Compte</a></td>
                    <td><img src="send.png" alt="send" height="50" width="50"><a href="/operation">Operation</a></td>
                </tr>
            </table>
        </div>
        <br/>
        <!--  body begin  -->
        <div class="row border border-primary">
            <img src="bank_pic.jpg" class="img-fluid" alt="bank" width="500" height="500">
        </div>
        <!--  body end  -->
    </div>
    <script src="bootstrap.js"></script>
</body>
</html>