<html>

<head>
    <title>Bank App : Compte</title>
    <link rel="icon" type="image/x-icon" href="icon.ico">
    <link href="http://localhost:4500/bootstrap.css" rel="stylesheet">
</head>

<body style="background-color: grey;">
	<style>
	 .container {
	 	background-color: white !important;
	 }
	</style>
    <div class="container" >
        <div class="row border border-primary">
           <div class="col-2">
                <img src="http://localhost:4500/bank.png" alt="bank" width="50" height="50">
            </div>
            <div class="col-10">
                <h1>Banque Application</h1>
            </div>
        </div>
        <br/>
        <!--  body begin  -->
         <div class="row">
        	<form name="f1" action="/web/login" method="POST">
				<div class="form-group">
    				<label for="login">Login</label>
    				<input id="login" name="login" class="form-control" type="text"  required />
  				</div>
  				<div class="form-group">
    				<label for="password">Mot de passe</label>
    				<input id="password" name="password" class="form-control" type="password" required />
  				</div>
  				<button type="submit" class="btn btn-primary">Se connect</button>
			</form>
        </div>
        <div th:if="${error != null}" class="row">
        	<div class="col">
        		<div class="alert alert-danger" role="alert">
  					le mot de passe ou login est incrorrect!
				</div>
        	</div>
        </div>
        <!--  body end  -->
    </div>
    <script src="http://localhost:4500/bootstrap.js"></script>
</body>
</html>