<html>

<head>
    <title>Bank App : Operation</title>
    <link rel="icon" type="image/x-icon" href="http://localhost:4500/icon.ico">
    <link href="http://localhost:4500/bootstrap.css" rel="stylesheet">
</head>

<body style="background-color: grey;">
	<style>
	 .container {
	 	background-color: white !important;
	 }
	</style>
    <div class="container" >
        <div class="row border border-primary">
            <div class="col-2">
                <img src="http://localhost:4500/bank.png" alt="bank" width="50" height="50">
            </div>
            <div class="col-8">
                <h1>Banque Application</h1>
            </div>
            <div class="col-2">
            	<div><a href="/dec">Déconnexion<img src="delete.png" height="50" weight="50"/></a></div>
            </div>
        </div>
        <br/>
        <div class="row border border-primary">
            <table class="table">
                <tr>
                	<td><img src="http://localhost:4500/icon.ico" alt="client" height="50" width="50"><a href="/" >Home</a></td>
                    <td><img src="http://localhost:4500/client.png" alt="client" height="50" width="50"><a href="/client" >Client</a></td>
                    <td><img src="http://localhost:4500/emp.png" alt="employee" height="50" width="50"><a href="/employee" >Employee</a></td>
                    <td><img src="http://localhost:4500/account.png" alt="account" height="50" width="50"><a href="/compte">Compte</a></td>
                    <td><img src="http://localhost:4500/send.png" alt="send" height="50" width="50"><a href="/operation">Operation</a></td>
                </tr>
            </table>
        </div>
        <br/>
        <!--  body begin  -->
        <div class="row">
        	<div class="col-4">
        		<a href="/addoperation"><button class="btn btn-primary">Ajouter</button></a>
        	</div>
        	<div class="col-4">
        	</div>
        	<div class="col-4">
        	</div>
        	<div class="col-4">
        	</div>
        </div>
        <div class="row">
        <div class="col">
        <table class="table table-striped">
  			<thead>
    			<tr>
      				<th scope="col">#</th>
      				<th>Date de operation</th>
      				<th>Montant</th>
      				<th>Type</th>
      				<th>Compte</th>
      				<th>Employee</th>
    			</tr>
  			</thead>
  			<tbody>
    			<tr th:if="${length}" th:each="r: ${ret}">
    				<td ><span th:text="${r.numeroOperation}" /></td>
    				<td th:text="${r.dateOperation}" />
    				<td th:text="${r.montant}" />
    				<td >Retrait</td>
    				<td th:text="${r.getCompte().getClient().getNomClient() }" />
    				<td th:text="${r.getEmployes().getNomEmployeString()}" />
				</tr>
				<tr th:if="${length}" th:each="v: ${vef}">
    				<td ><span th:text="${v.numeroOperation}" /></td>
    				<td th:text="${v.dateOperation}" />
    				<td th:text="${v.montant}" />
    				<td >Versement</td>
    				<td th:text="${v.getCompte().getClient().getNomClient()  }" />
    				<td th:text="${v.getEmployes().getNomEmployeString()}" />
				</tr>
				<tr th:if="${length==false}" >
    				<td colspan="2">Vide</td>
				</tr>
  			</tbody>
		</table>
		</div>
        <!--  body end  -->
    </div>
    <script src="http://localhost:4500/bootstrap.js"></script>
</body>
</html>